html {

}

text {
}

.time-select text {
	fill: #FFF;
}

body {
	font-family: 'Source Sans Pro', sans-serif  !important;
	font-size: 14px;
	margin: 0;
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer */
	-khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
	-webkit-user-select: none; /* Chrome, Safari, and Opera */
	-webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

input { cursor: pointer; }

svg {
	font-family: Source Sans Pro, sans-serif !important;
	font-size: 18px;
}

svg text {
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer */
	-khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera *
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

h2 {
	font-size: 1.3em;
}

.main-content {
	padding-bottom: 0px;
	opacity: 0;
	position: relative;
}

#summary_row {
	position: relative;
    margin-top: 16px;
}

#svg_summary1_div {
	position: relative;
	z-index: 5;
}

#svg_summary2_div {
	position: relative;
	z-index: 3;
}

#svg_summary3_div {
	position: relative;
	z-index: 2;
	cursor: pointer;
}

#avg_slider_svg {
    width: 100%;
    float: right;
}

#top-row {
	height: 58px;
	border-bottom: 2px solid #e8e8e8;
	margin-bottom: 7px;
	padding-top: 5px;
	position: fixed;
	top: 0px;
	z-index: 3;
	width: 97.5%;
	background-color: #FFF;
	border-right: 1px solid #FFF;
}

#top_row {
	top: 0px;
	background-color: #FFF;
    position: fixed;
    width: 100%;
    z-index: 100;

}
.container1 {
	padding: 4px 15px 0px 15px;
	margin: 0px auto;
	background-color: #FFF;
	min-height: 500px;

}

.container2 {
	padding: 0px 15px 0px 15px;
	margin: 0px auto;
	background-color: #FAFAFA;
}

#methodology {
    margin-top: 4px;
    padding-top: 1px;
}

#methodology h2 {
    margin-top: 7px;
    margin-bottom: 0px;
}

#methodology hr {
	display: block; height: 1px;
    border: 0; border-top: 1px dotted #ececec;
    margin: 1em 0; padding: 0; 
}


.leftcol {
	width: 36%;
	margin-top: 2px;
	position: relative;
}

.rightcol {

}

#svg_quality_div .axis text {
 fill: grey;
}
.widget {
	margin-bottom: 0px;
}

#quality6 .axis text {
	font-weight: bold;
}

#map {
	width: 100%;
	height: 300px;
	border: 1px solid #E4E4E4;
	margin-top: 3px;
}

[class^='select2'] {
  border-radius: 0px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
	padding: 2px 4px;
}
.select2-container .select2-selection--multiple {
	min-height: 26px;
}

.select2-selection__choice,
.select2-container--default .select2-selection--multiple .select2-selection__choice {
	margin-top: 1px;
	margin-bottom: 1px;
	margin-right: 2px;
}

.select2-container .select2-search--inline .select2-search__field {
	margin-top: 1px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice,
.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: rgb(0, 137, 116);
	color: #FFF;
	border: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
	color: #FFF;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #CACACA;
  font-size: 10px;
}

.search-adm-id {
	display: inline;
	color: #CACACA;
	font-size: 9px;
	padding-top: 3px;
	float: right;
	padding-right: 2px;
}
#map-bubble-svg {
	-webkit-filter: drop-shadow(1px 1px 4px rgba(0,0,0,0.3));      
	filter: drop-shadow(1px 1px 4px rgba(0,0,0,0.3)); 
}

.mapboxgl-control-container {
	zoom: 70%;
}

#mapcontainer {
	padding-right: 15px;
	padding-top: 2px;
}

#timechart-container {
	width: 64%;
	float: right;
    position: absolute;
    top: 0px;
    right: 0px;
}

@media only screen and (max-width: 1140px) {

	#framework-chart svg {
	    font-size: 14px !important;
	}

	.frameworkColHeader text {
	    font-size: 12px !important;
	}

	.subtitle,
	#dateRange {
		font-size: 12px !important;
	}

	#avg_slider {
		top: -5px !important;
		width: 36%;
	}

	#timechart-legend {
		left: 280px !important;
	}

	#framework-toggle-switch {
		left: 155px !important;
		top: 16px !important;
	}

	#framework-chart .title {
		top: 16px !important;
	}

	#top-row {
		width: 97% !important;
	}
	#dateRangeText {
		font-size: 12px !important;
	}
	#dateRange {
		width: 130px !important;
	}
}

@media only screen and (max-width: 970px) {


	body { font-size: 12px; }

	#dateRange {
		font-size: 9px !important;
	}

	#total_entries {
		font-size: 32px !important;
	}

	#top-row {
		height: 48px;
		width: 97% !important;
	}

	.title {
		font-size: 11px !important;
	}

	#finalScore_value,
	#severity_value {
		font-size: 9px !important;
	}

	.toggle {
		height: 11px !important;
	}

	.subtitle,
	#severityRemoveFilter,
	#finalScoreRemoveFilter {
		height: 12px !important;
	}

	#timechart-legend {
	    left: 254px !important;
	    width: 140px !important;
	    top: 8px !important;
	}

	#framework-toggle-switch {
		left: 145px !important;
		top: 12px !important;
		width: 160px;
	}

	#avg_slider {
		width: 34%;
		top: 0px !important;
	}

	#framework-chart .title {
		top: 13px !important;
	}

	#framework-chart {
	    padding-top: 10px !important;
	}
	#dateRangeText {
		font-size: 9px !important;
	}

	#dateRange {
		width: 100px !important;
	}

}


@media only screen and (max-width: 840px) {

	#framework-chart svg {
	    font-size: 16px !important;
	}

	svg {
		font-size: 20px !important;
	}

	.frameworkColHeader text {
	    font-size: 14px !important;
	}

	.subtitle,
	#dateRange {
		font-size: 9px !important;
	}

	#timechart_legend {
		display: none;
	}
	#avg_slider {
		top: 0px !important;
		width: 40%;
	}

	#framework-toggle-switch {
		left: 19% !important;
		top: 12px !important;
		width: 18%;

	}
	#framework-chart .title {
		top: 10px !important;
	}

	#top-row {
		width: 97% !important;
	}

	#globalRemoveFilter {
		height: 15px !important;
		top: 7px;
		left: 90px !important;
	}

	#dateRangeText {
		font-size: 9px !important;
	}

	#dateRange {
		width: 90px !important;
	}

}

@media only screen and (max-width: 710px) {

	body { font-size: 11px; }

	#total_entries {
		font-size: 26px !important;
	}

	#top-row {
		height: 40px;
	}

	.title {
		font-size: 10px !important;
	}

	#finalScore_value,
	#severity_value {
		font-size: 8px !important;
	}

	.toggle {
		height: 10px !important;
	}

	.subtitle,
	#dateRange {
		font-size: 7px !important;
	}

	#severityRemoveFilter,
	#finalScoreRemoveFilter {
		height: 12px !important;
		width: 12px !important;
		display: none !important;
	}

	#timechart_legend {
		display: none;
	}

	#framework-toggle-switch{ 
		top: 10px !important;
	}

	#framework-chart .title {
		top: 7px !important;
	}
	#avg_slider {
		top: 0px !important;
	}

	#globalRemoveFilter {
		height: 12px !important;
		left: 73px !important;
	}

	#dateRangeText {
		font-size: 7px !important;
	}

	.selectedDate {
		display: none !important;
	}

}

@media only screen and (max-width: 600px) {

	body { font-size: 8px; }

	#total_entries {
		font-size: 20px !important;
	}

	.title {
		font-size: 8px !important;
	}

	#top-row {
		height: 32px;
	}

	#timechart_legend {
		display: none;
	}

	#finalScore_value,
	#severity_value {
		font-size: 6px !important;
	}

	.toggle, {
		height: 8px !important;
	}

	.subtitle,
	#dateRangeText {
		font-size: 5px !important;
	}

	#dateRangeContainer img {
		display: none;
	}

	#severityRemoveFilter,
	#finalScoreRemoveFilter {
		height: 10px !important;
		width: 10px !important;
		padding-left: 0px;
	}

	#framework-chart .title {
		top: 7px !important;
	}

	#framework-toggle-switch{ 
		top: 9px !important;
	}

	#globalRemoveFilter {
		height: 11px !important;
		left: 58px !important;
	}

	#avg_slider {
		top: 0px !important;
	}

	#timechart-select {
		width: 33px !important;
	}

}

@media only screen and (max-width: 500px) {

	#framework-chart #framework-toggle { 
		display: none;
	}

	#timechart-select {
		width: 22px !important;
		top: 1px !important;
		left: 1px !important;
	}

	#avg_slider {
		top: -1px !important;
		width: 35%;
	}

	#dateRangeText {
		font-size: 5px !important;
	}

}

@media only screen and (max-width: 450px) {

	#top-row {
		width: 95% !important;
	}

	#top-row .leftcol {
		width: 18%;
	}

	#finalScore_value,
	#severity_value {
		font-size: 5px !important;
	}

	#globalRemoveFilter {
		height: 9px !important;
		left: 43px !important;
		top: 20px !important;
	}
	#avg_slider {
		top: 0px !important;
		width: 33%;
	}

}

.header-row {
	position: relative;
}
#total { 
	margin-top: 2px;
	float: left; 
}

#avg_slider { 
	margin-top: 0px;
	position: absolute;
	right: -3px;
	top: -7px;
}

#avg_slider .ticks {
	font: 10px sans-serif;
}

.tick {
color: hsla(171, 30%, 10%, 1);
font-size: 15px;
}

.time-select {
	cursor: pointer;
}

.avgSliderLabel {
	font-size: 10px;
	font-weight: 100;
}

.sliderIcon {
	opacity: 0.4;
}

#avg_slider .track {
	stroke: #000;
	stroke-opacity: 0.3;
	stroke-width: 2px;
}

#avg_slider .track-inset {
	stroke: #000;
	stroke-width: 1px;
}

#avg_slider .track-overlay {
	pointer-events: stroke;
	stroke-width: 32px;
	stroke: transparent;
	cursor: ew-resize;
}

#avg_slider .handle {
	fill: #fff;
	stroke: #000;
	stroke-opacity: 0.5;
	stroke-width: 1.25px;
}

#total_entries {
	margin-bottom: 0px;
	font-size: 40px;
	font-weight: bold;
	color: #008974;
	line-height: 0.8;
}


.toggle, .finalScoretoggle { cursor: pointer; }

#finalScore img, 
#severity img {
	top: 2px;
    position: relative;
}

.removeFilterBtn:hover,
.globalRemoveFilterBtn:hover {
	opacity: 0.7 !important;
}

.contextualRowLine {

}

#globalRemoveFilter {
	height: 16px;
	display: none;
	position: absolute;
	top: 4px;
	left: 84px;
}

.removeFilterBtn {
	display: none;
}

#finalScoreRemoveFilter,
#severityRemoveFilter,
#geoRemoveFilter {
	height: 13px;
	padding-left: 3px;
	display: none;
	position: absolute;
}

.top-bar {
	cursor: pointer;
	outline: none;
}

.sn-bar,
.ag-bar,
.sector-bar {
	cursor: pointer;
	outline: none;
}

#reliability {
	width: 49%;
	display: inline-block;
	fill: red;
	float: right;
	position: relative;
	top: -4px;
}

#reliability_bars {
	width: 100%;
	margin-top: 2px;
}

#severity_value {
	color: #e6550d;
	float: right;
	display: inline;
	font-size: 12px;
	font-weight: bold;
	padding-top: 3px;

}

.header {
	margin-bottom: 9px;
}

.title {
	font-size: 13px;
	font-weight: bold;
	display: inline;
	white-space: nowrap;
	color: #4c4c4c;
}

.subtitle {
	font-size: 12px;
	font-weight: lighter;
	display: inline;
	padding-left: 3px;
}

.selectedDate {
	font-weight: bold;
	display: inline-block;
	line-height: 1.4;
	margin-bottom: 0px;
    float: right;
    position: absolute;
    /*left: 180px;*/
    right: 30px;
    top: 1px;
}

#dateRangeText {
	    padding-top: 2px;
    font-size: 16px;
    color: #008974;
    cursor: default;
    padding-right: 2px;
    position: absolute;
    font-size: 14px;
}

.monthly .table-condensed thead tr:nth-child(2),
.monthly .table-condensed tbody {
  display: none
}

.scores { 
	height: 50px;
}

.scores_left {
	width: 49%;
	float: left;
}

.scores_right {
	width: 49%;
	float: right;
}

#finalScore {
    fill: green;
    z-index: 2;
}

#finalScoreSvg text {
	cursor: pointer;
}

#finalScore_bars, #severity_bars {
	width: 100%;
	margin-top: 2px;
}

#finalScore_value, #severity_value {
	color: #008974;
	float: right;
	display: inline;
	font-size: 12px;
	font-weight: bold;
	padding-top: 3px;
}

.finalScoreBar {
	cursor: pointer;
	outline: none;
}

#n-days {
	opacity: 0;
}

#dateRangeContainer {
	padding-top: 2px;
}

#dateRangeContainer img {
	padding-right: 3px;
}

#dateRange {
	display: inline;
	font-size: 12px;
	text-align: left;
	font-weight: bold;
	border: none;
	margin-top: 2px;
	font-family: Source Sans Pro, sans-serif;
	opacity: 0;
	position: relative;
    top: 0px;
    right: 0px;
    width: 170px;
	cursor: pointer;
}


#timeline {
	width: 100%;
}

#timechart-legend {
	width: 150px;
	height: 20px;
	padding-top: 2px;
	float: right;
}

#timechart-legend div {
	float: right;
}

#timechart-select {
    top: 3px;
    position: relative;
    left: 2px;

}

.handle {
	fill: #000;
	width: 2px;
}

.selection {
	fill-opacity: 0.066;
	stroke-opacity: 0;
	fill: #36BBA6;
}

.selection:hover {
	/*fill: green !important;*/
}

#eventDrop {
	clip: rect(10px, 190px, 190px, 10px);
}

.line {
	fill: none;
	stroke: steelblue;
	stroke-width: 2px;
}

.sector-icon {
	opacity: 0.3;
}

.grid line,
.contextualRowLine {
	stroke: #6A6A6A;
	stroke-opacity: .2;
	shape-rendering: crispEdges;
	stroke-dasharray: 2 2; 
	stroke-width: 1;
}

.grid path {
	stroke-width: 0;
}

table.dataTable thead .sorting_asc {
  background: url("http://cdn.datatables.net/1.10.0/images/sort_asc.png") no-repeat center left;
  filter: gray; 
  filter: grayscale(100%);
  background-size: 20px 14px;
}
table.dataTable thead .sorting_desc {
  background: url("http://cdn.datatables.net/1.10.0/images/sort_desc.png") no-repeat center left;
  filter: gray; 
  filter: grayscale(100%);
  background-size: 20px 14px;
}
table.dataTable thead .sorting {
  background: url("http://cdn.datatables.net/1.10.0/images/sort_both.png") no-repeat center left;
  filter: gray; 
  filter: grayscale(100%);
  background-size: 20px 14px;
}
.dt-head-left {
	padding-left: 19px !important;
	text-transform: uppercase;
	font-weight: normal;
}
table.dataTable td,
table.dataTable th {
	font-size: small;
	font-weight: normal !important;
	border-left: 1px solid #e5e5e5 !important;
}

table.dataTable {
	border-right: 1px solid #e5e5e5 !important;
	border-bottom: 1px solid #e5e5e5 !important;
}

table.dataTable th {
	border-top: 1px solid #e5e5e5 !important;
	border-bottom: 1px solid #e5e5e5 !important;
}

#data-table {
    padding-top: 7px;
}

#avg-line {
	stroke-dasharray: 3 3; 
	stroke-width: 1;
	stroke-opacity: 0.4;
	fill: none;
}

.yAxis line,
.yAxis path {
	stroke-opacity: 0;
}

.xAxisHorizontalLine {
	stroke: #DADADA;
	stroke-dasharray: 1 1; 
}

.clearfix {
	overflow: auto;
}

#framework-chart {
	width: 100%;
	padding-top: 10px;
}

#framework-chart .title {
	position: absolute;
	top: 18px;
}

#framework-toggle-switch {
	cursor: pointer;
}

#framework-toggle {

}

#framework-chart svg, .frameworkColHeader text {
    font-size: 14px;
}

.frameworkColHeader text {
    text-transform: uppercase;
    font-size: 13px;
}

#framework-toggle-switch text {
	font-size: 23px;
}

.cell {
	stroke: #FFF;
	stroke-opacity: 1;
}

.domain {
	stroke: #FFF !important;
}

.framework-domain {
	stroke: #CCCCCC !important;
}

.chartCol {
	width: 24%;
	display: inline-grid;
	vertical-align: top;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#tooltip {
	position: absolute;
	left: -100px;
	top: -100px;
	z-index: 100;
	background-color: #000;
	color: #FFF;
	padding: 1px 4px;
	font-size: 12px;
	font-weight: 12px;
	text-anchor: left;
}

.top-bar text {
	cursor: pointer;
}

#lasso {
	position: absolute;
    top: 73px;
    display: inline;
    left: 5px;
    z-index: 2;
    cursor: pointer;
}

#lasso-default {
	
}

#lasso-hover {
	display: none;
}

#lasso-selected {
	display: none;
}

.polygon {
	cursor: pointer;
	outline: none;
}

#adm-toggle {
	position: absolute;
    top: 7px;
    display: inline;
    right: 5px;
    z-index: 2;
    zoom: 0.6;
}

#adm-toggle g {
	cursor: pointer;
}

#map-toggle {
	position: absolute;
    top: 99px;
    display: inline;
    left: 5px;
    z-index: 2;
    cursor: pointer;
}

#map-toggle-choropleth {
	display: none;
}